.header1{
    background-color: #2d2d2d;
    display: flex;
    font-family: khmer os;
    position: sticky;
    top: 0;
    z-index: 111;
    & .menu{
        width: 90%;
        display: flex;
        margin-left: 30px;
        & .logo{
            width: 10%;
            margin-top: 10px;
            margin-right: 25px;
            text-align: center;
        }
        & .logo :hover{
            transform: scale(1.1);
        }
    }
    & .menu1{
        width: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        margin: auto;
        padding-left: 20px;
        & .left{
            & ul{
                list-style-type: none;
                display: flex;
                gap: 20px;
                & a{
                    color: #04AA6D;
                    text-decoration: none;
                    font-weight: bolder;
                }
            }
            & ul :hover{
                border-bottom: 3px solid green;
            }
        }
        & input, button{
            width: 250px;
            height: 40px;
            border-radius: 10px;
            padding-left: 10px;
            font-family: khmer os;
            outline-color: #04AA6D;
            border: 2px solid silver;
        }
        & .right{
            margin: auto;
            display: flex;
            gap: 10px;
            & button{
                width: 75px;
                height: 30px;
                background-color: #04AA6D;
                color: white;
                margin: auto;
                padding-right: 10px;
                border: 2px solid #04AA6D;               
            }
            & i{
                margin: auto;
            }
            & .loginSignup{
                /* border: 2px solid silver; */
                margin-left: 10px;
                background-color: silver;
                border-radius: 50px;
                width: 50%;
                display: flex;
                text-align: center;
                /* background-color: #04AA6D; */
                & .Signup{
                    width: 60%;
                    background-color: #04AA6D;
                    border-radius: 50px;
                    padding-top: 5px;
                    color: white;
                    & a{
                        text-decoration: none;
                        color: white;
                    }
                }
                & .Signup :hover{
                    color: silver;
                }
                & .Login{
                    width: 40%;
                    margin-right: 10px;
                    padding-top: 5px;
                    & a{
                        text-decoration: none;
                        color: white;
                    }
                }
                & .Login :hover{
                    color: white;
                }
            }
        }
        & .right :hover{
            transform: scale(1.1);
        }
    }
}
.CourseMenu{
    /* background-color: #04AA6D; */
    background: linear-gradient(to right, #00AA6E, #0099ff);
    /* background: linear-gradient(to right, #6c63ff, #833ab4); */
    height: 50px;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 111;
    & ul{   
        font-family: 'Source Sans Pro', sans-serif;
        list-style-type: none;
        display: flex;
        gap: 30px;
    }
    & ul :hover{
        align-content: center;
        height: 50px;
    }
    & a{
        text-decoration: none;
        color: white;
    }
}
.Slogan, .Promotion{
    width: 17%;
    height: 20%;
    position: absolute;
    top: 230px;
    left: 50px;
    color: white;
    & .text{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        font-family: khmer os;
        & span{
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    & .readmore{
        font-family: khmer os;
        font-weight: bold;
        cursor: pointer;
        width: 40%;
        background-color: green;
        font-size: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        border-radius: 20px;        
    }
    & a{
        text-decoration: none;
        color: white;
    }
    
}
& .Slogan :hover{
    transform: scale(1.1);
    
}
& .Promotion :hover{
    transform: scale(1.1);
    
}
& .Promotion{
    top: 230px;
    left: 1250px;
}
.HTML, .CSS, .JavaScript, .Python{
    background-color: #D9EEE1;
    text-align: center;
    font-family: khmer os;
    padding: 20px;
    border-radius: 150px;
    margin-top: 50px;
    & a{
        text-decoration: none;
        color: white;
    }
}
& .HTML :hover{
    transform: scale(1.1);
}
& .CSS :hover{
    transform: scale(1.1);
}
& .JavaScript :hover{
    transform: scale(1.1);
}
& .Python :hover{
    transform: scale(1.1);
}
.Style{
    width: 150px;
    padding: 5px;
    align-items: center;
    background-color: #00AA6E;
    border-radius: 25px;
    margin: auto;
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
}

